<section class="cta-section">
  <div class="cta-pattern"></div>
  <div class="cta-content">
    <h2 class="cta-title">¿Hablamos?</h2>
    <p class="cta-text">
      Contame qué te preocupa de tu perro y veamos cómo podemos trabajarlo juntos.
    </p>
    <a class="cta-button"
    href="{{PHONE_NUMBER}}"
    >
    <img src="../../../assets/whatsapp-logo-png_seeklogo-168310.png" alt="">
      Consultar Turno Ahora
    </a>
    <p class="cta-footer">
      Atención en Mar del Plata y alrededores.
    </p>
  </div>
</section>
